html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	text-decoration: none;	
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f2f2;
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
#top-fix{
    background-color: #212121;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-image: url(../img/topfixed_bg.png);
    background-repeat: repeat-x;
    background-position: 0 -1px;
}
.container{
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.title-content{
	width: 90px;
	margin: 0 14px 0 0;
	font-size: 18px;
	float: left;
	text-align: center;
	line-height: 49px;
    list-style: none;
}
.title-content a{
	color: #999;
}
.title-content a:hover{
	color: #fff;
    text-shadow: 1px 0 20px #fff;
}
#left-icon{
	width: 110px;
	font-size: 25px;
}
#left-icon >a{
	color: #fff;
}
#left-icon >a >div{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 85px 12px;
}
#search{
	float: right;
	margin: 13px 20px 0 0px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 150px 5px;
	border-radius: 20px;
}
#searchform{
	width: 150px;
	padding: 0 10px;
	background: transparent;
	border: 1px solid #3F3F3F;
	border-radius: 20px;
	height: 23px;
	outline: none;
}
#search:active{
	background-color: #eee;
}





#main{
	padding: 80px 0 0 0;
}
.article-show{
	float: left;
	padding: 30px 20px;
	margin: 10px;
	width: 260px;
	height: 330px;
	background-color: #fff;
}
.article-show a{
	color: #222;
}
.article-show >h2{
	text-align: center;
}
.article-show >p{
	margin-top: 20px;
	padding-bottom: 40px;
    border-bottom: 2px solid #eee;
    font-size: 18px;
    color: #666;
}
.article-foot{
	padding: 12px 8px;
}
.article-foot span{
	color: #666;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;
    color: #999;
    font-style:normal;
}
.artile-time{
	float: right;
}