html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	text-decoration: none;	
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    list-style: none;
}
body{
    background-color: #f2f2f2;
}
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
#top-fix{
    background-color: #212121;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-image: url(../img/topfixed_bg.png);
    background-repeat: repeat-x;
    background-position: 0 -1px;
    box-shadow: 0 0 5px #444;
}
.container{
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.title-content{
	width: 75px;
	margin: 0 14px 0 0;
	font-size: 18px;
	float: left;
	text-align: center;
	line-height: 49px;
    list-style: none;
}
.title-content a{
	color: #999;
	transition:all 1s;
}
.title-item a,.title-content a:hover{
	color: #fff;
    text-shadow: 1px 0 20px #fff;
}
#left-icon{
	width: 110px;
	font-size: 25px;
}
#left-icon >a{
	color: #fff;
}
#left-icon >a >div{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 85px 12px;
}
#mylink{
	float: right;
	margin: 10px 30px 0 0px;
}
#mylink li{
	float: left;
	margin-left: 5px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	background-color: #424242;
	color: #f2f2f2;
	list-style: none;
	transition:all 0.6s;
}
#mylink li:hover{
	background-color: #f2f2f2;
	color: #424242;
}
.sign{
	line-height: 28px!important;
	border-radius: 100%!important;
	width: 80px!important;
	background-color: #212121!important;
}
.sign:hover{
	text-shadow: 1px 0 20px #fff!important;
	color: #f2f2f2!important;
}


/*首页中部*/
#main{
	padding: 80px 0 0 0;	
}
#head-photo{
	margin: 40px;
}
#head-photo >img{
	display: block;
	margin: 0 auto;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	transition:all 1s;
}
#head-photo >img:hover{
	box-shadow: 0 0 40px #666;
}
#myword p{
	text-align: center;
	padding-bottom: 50px;
}
#bigbox{
	position: relative;
}
.smallbox{
	float: left;
	padding: 20px 0 0 20px;
}
.article-show{
	padding: 30px 20px 0 20px;
	width: 260px;
	background-color: #fff;
	transition:all 0.5s;
}
.article-show:hover{
	box-shadow: 0 0 12px #ddd;
}
.article-show a{
	color: #222;
	transition:all 0.5s;
}
.article-show >h2{
	text-align: center;
}
.article-show >h2 a:hover{
	color: #e84c3d;	
}
.article-show >p{
	margin-top: 20px;
	padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    font-size: 18px;
    color: #666;
}
.article-foot{
	padding: 12px 8px;
}
.article-foot span{
	font-size: 18px;
	font-weight: lighter;
	color: #666;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;
    color: #999;
    font-style:normal;
}
.artile-time{
	float: right;
}

/*页脚*/
#footer-link{
	margin-top: 40px;
	padding: 20px 50px;
	border-top: 1px #999 solid;
	border-bottom: 1px #999 solid;
	overflow: hidden;
}

#footer li{
	float: left;
	margin: 0 10px;
	color: #666;
	font-size: 14px;
	list-style: none;
	overflow: hidden;
}
#footer a{
	color: #666;
}
#footer a:hover{
	color: #000;
}
#footer >p{
	line-height: 60px;
	text-align: center;
	color: #666;
	font-size: 12px;
}

/*go-top*/
#goTop{
	position: fixed;
    right: 45px;
    bottom: 38px;
    z-index: 90;
}
.jump-top{
	display: block;
	background-image: url(../img/go-top2.png);
    background-repeat: no-repeat;
    background-position: center 15px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 4px;
    transition:all 0.5s;
}
.jump-top:hover{
	background-image: url(../img/go-top1.png);
	background-color: rgb(153,153,153);
}

/*控制面板*/
.title-control{
	width: 90px;
	margin: 0 14px 0 300px;
	font-size: 18px;
	float: left;
	line-height: 49px;
    list-style: none;

}
.title-control >a{
    color: #fff;
}
#control{
	top: 80px;
	overflow: hidden;
}
#control-menu{
	margin: 10px 0 0 10px;
	float: left;
	width: 170px;
	background-color: #fff;
	line-height: 45px;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
}
.control-content{
	cursor: pointer;
	padding-left: 20px;
	border: 1px solid rgba(221, 221, 221, 0.46);
	border-radius: 5px;
	transition:all .5s;
}
.control-content:hover{
	margin-left: 15px;
	background-color: #eee;
}
#control-title{
	padding-left: 20px;
	line-height: 20px;
	font-size: 13px;
	font-weight: 900;
	color: #666;
}
#control-menu i{
	padding-right: 20px;
	color: #444;
}
#control-menu a{
	color: #444;
}
#menu-write,
#menu-message,
#menu-manage,
#menu-class,
#menu-photos,
#menu-words{
	background-color: #eee;
}
.control-area{
	margin: 10px;
	float: right;
    width: 760px;
    background-color: #fff;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    display: block;
}
#area-write{
	display: block;
}

#area-class{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari 和 Chrome */
	column-count:2;
	overflow: hidden;
	padding: 40px 50px;
}

#area-class form input{
	margin-left: 40px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #666;
	outline: none;
	font-size: 16px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
#area-class form button{
	height: 26px;
	font-size: 14px;	
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
.cate-list span{
	font-size: 16px;
	color: #333;
}
.cate-list i{
	margin-right: 15px;
	font-size: 18px;
	/*color: #ff9800;*/
	color: #444;
}
.cate-list a{
	float: right;
	margin-top: 4px;
	margin-right: 30px;
	color: #0277bd
}
.cate-list a:hover{
	text-decoration: underline;
	color: #ffaa00;
}
.cate-list{
	margin: 20px 20px;
	padding: 30px 20px;
	width: 250px;
	border-radius: 5px;
	cursor: default;
	font-size: 13px;
	background-color: #fff;
	color: #555;
	overflow: hidden;
	box-shadow: 0 0 2px #BDBDBD;
}
.list-box{
	margin: 10px 0;
}
.list-box li{
	margin-left: 25px;
	min-height: 22px;
	list-style-type: decimal;
}
#write-content{
	padding: 45px 50px 50px 50px;
}
#write-category{
	float: left;
	width: 150px;
	height: 30px;
	border: 1px solid #999;
	display: block;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
#write-category option{
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
#write-title{
	float: left;
	padding: 0;
	border: 1px solid #999;
	height: 28px;
	width: 250px;
	font-size: 14px;
	display: block;
	outline:none;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
#write-content textarea{
	float: left;
	margin-top: 15px;
	display: block;
	resize:none;
	width: 660px;
	height: 350px;
	font-size: 14px;
	outline:none;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
#write-submit{
	float: right;
	margin: 10px 40px 40px auto;
	font-size: 14px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
#area-manage >ul{
	padding: 30px 50px 20px 50px;
}
#area-manage li{
	height: 35px;
	line-height: 35px;
}
#control-pages{
	padding:0 80px 20px 50px;
}
#control-pages >a{
	margin-right: 5px;
	padding: 5px 10px;
	background-color: #ddd;
	color: #444;
	font-size: 14px;
}
#control-pages >a:hover{
	background-color: #00AAF0;
    color: #fff;
}
#control-pages >span{
	height: 29px;
	float: right;
	margin-right: 40px;
	color: #444;
	font-size: 14px;
}
.manage-setting{
	margin-top: -1px;
	float: right;
	padding-right: 30px;
}
.manage-setting >a{
	margin-left: 10px;
	color: #666;
	font-size: 15px;
}
.manage-setting >a:hover{
	color: #ffaa00;
	text-decoration: underline;
}
.manage-time{
	font-size: 14px;
	color: #444;
}
.manage-title i{
	float: left;
	margin-right: 10px;
	color: #333;
	font-size: 14px;
}
.manage-title a{
	color: #444;
	font-size: 16px;
	float: left;
	width: 420px;
}
.manage-title a:hover{
	text-decoration: underline;
}

/*登录框*/
#loginbody{
	background-color: #fff;
}
.login-box{
	margin: 150px auto;
	padding-top: 25px;
	height: 275px;
	width: 500px;
	background-color: #f5f5f5;
	border-radius: 5px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.input-group{
	margin: 25px auto;
	width: 430px;
	height: 54px;

}
.input-lable{
	float: left;
	display: block;
	width: 54px;
	height: 52px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	line-height: 54px;
}
.input-lable >i{
	font-size: 28px;
	color:  #B94846;
}
.form-input{
	float: left;
	padding-left: 20px;
	width: 346px;
	height: 50px;
	border: 1px solid #ccc;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 18px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
.from-btn{
	margin: 30px auto;
	height: 40px;
    width: 180px;
    color: #ffffff;
    font-size: 14px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    background-color:#2fa4e7;
    border: 1px solid #2fa4e7;
    border-radius: 4px;
    display:block;
}