
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wenzhang:before { content: "\e60a"; }
.icon-fenlei:before { content: "\e60b"; }
.icon-qq:before { content: "\e600"; }
.icon-xinlangweibo:before { content: "\e601"; }
.icon-write:before { content: "\e60c"; }
.icon-zhihu:before { content: "\e602"; }
.icon-zan:before { content: "\e603"; }
.icon-github:before { content: "\e604"; }
.icon-youjian:before { content: "\e605"; }
.icon-pinglun:before { content: "\e606"; }
.icon-yonghu:before { content: "\e607"; }
.icon-xiangce:before { content: "\e60d"; }
.icon-yonghu1:before { content: "\e612"; }
.icon-fenxiang:before { content: "\e608"; }
.icon-gerenxinxi:before { content: "\e60e"; }
.icon-fabiaowenzhang:before { content: "\e611"; }
.icon-suoding:before { content: "\e609"; }
.icon-audit-pass2:before { content: "\e60f"; }
.icon-wenjianjia:before { content: "\e610"; }
